@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #eef0f1;
  color: #010101;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.u-u-header.is-open .u-u-header-background {
  left: 0;
}
.u-u-header-button-wrapper {
  margin-left: auto;
}
.u-u-header-icon {
  display: none;
}

.u-u-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.u-u-navigation-list.is-open {
  right: 0;
}
.u-u-header-icon-menu {
  display: block;
}

.u-u-header-icon-button.is-open .u-u-header-icon-menu {
  display: none;
}

.u-u-header-icon-button.is-open .u-u-header-icon-close {
  display: block;
}

.u-u-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 60px;
  background: #010101;
}

.u-u-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #010101;
}
.u-u-header.is-open .u-u-header-background {
  left: 0;
}
.u-u-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.u-u-header-icon-menu {
  display: block;
}

.u-u-header-icon-button.is-open .u-u-header-icon-menu {
  display: none;
}

.u-u-header-icon-button.is-open .u-u-header-icon-close {
  display: block;
}

.u-u-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 8px 16px;
  position: relative;
}

.u-u-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 32px;
  gap: 24px;
  background: #010101;
}

.u-u-navigation-list.is-open {
  right: 0;
}

.u-u-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #482600;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #ffffff;
}

.u-u-navigation-link:hover,
.u-u-navigation-link:focus {
  color: #e74727;
}

.u-u-home-link-nav {
  display: inline-block;
}
.u-u-header.is-open {
  background-color: transparent;
}

.u-u-navigation-img {
  display: none;
}

@media screen and (min-width: 1194px) {
  .u-u-navigation-img {
    display: flex;
  }
  .u-u-home-link-nav {
    display: inline-block;
    width: fit-content !important;
    padding: 20px 24px;
  }
  .u-u-header-icon-title {
    display: none;
  }
  .u-u-header-button-wrapper {
    display: none;
  }
  .u-u-header {
    width: 100%;
    height: 104px;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .u-u-header-background {
  }
  .u-u-header-icon-button {
    display: none;
  }
  .u-u-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .u-u-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 8px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .u-u-navigation-link {
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    padding: 0px 40px;
  }

  .u-u-navigation-item-desk {
    display: none;
  }
}
.u-u-home {
  background: #010101;
}
.u-u-home-container {
  background: #010101;

  width: 375px;
  padding: 100px 16px 80px;
  margin: auto;
}

.u-u-home-container-top {
  color: #ffffff;
}
.u-u-home-title-img {
  width: 343px;
}
.u-u-home-title {
  font-family: Space Grotesk;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding: 60px 0 32px;
}

.u-u-home-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;
  padding-bottom: 32px;
}
.u-u-home-div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.u-u-home-link {
  background: #e74727;
  width: 343px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  font-family: Space Grotesk;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.u-u-home-link-two {
  border: 1px solid #e74727;
  background-color: transparent;
  color: #e74727;
}
.u-u-home-link:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 1194px) {
  .u-u-home-container {
    width: 1440px;
    padding: 164px 20px 100px;
  }

  .u-u-home-title-img {
    width: 1400px;
  }
  .u-u-home-title {
    font-family: Space Grotesk;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-transform: uppercase;
    padding: 40px 0 32px;
    width: 621px;
  }

  .u-u-home-text {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 142%;
    letter-spacing: 0%;

    padding: 0;
    width: 451px;
    margin: -84px 0 0 auto;
  }
  .u-u-home-div {
    flex-direction: row;
  }
  .u-u-home-link {
    width: 302.5px;
    padding-top: 20px;

    padding-bottom: 20px;
    border-radius: 50px;
    font-family: Space Grotesk;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
}
.u-u-about {
  background: #010101;
}
.u-u-about-container {
  width: 375px;
  background: #010101;

  padding: 80px 16px;
  margin: auto;
  color: #ffffff;
}
.u-u-about-title {
  font-family: Space Grotesk;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #747474;
}
.u-u-about-title-text {
  font-family: Space Grotesk;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding-top: 16px;
}
.u-u-about-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;
}

@media screen and (min-width: 1194px) {
  .u-u-about-container {
    width: 1440px;
    padding: 100px 20px;
  }
  .u-u-about-title {
    font-family: Space Grotesk;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
  .u-u-about-title-text {
    font-family: Space Grotesk;
    font-weight: 500;
    font-style: Medium;
    font-size: 42px;
    leading-trim: NONE;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-transform: uppercase;

    padding-top: 16px;
  }
  .u-u-about-title-text-q {
    width: 957px;
  }
  .u-u-about-text {
    gap: 30px;
    padding-top: 60px;
    width: 660px;
    margin-left: auto;
  }
}
.u-u-why {
  background: #ffffff;
}
.u-u-why-container {
  width: 375px;
  margin: auto;
  padding: 80px 16px;
  color: #010101;
  background: #ffffff;
}
.u-u-why-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.u-u-why-item {
  border: 1px solid #bcbcbc;
  background: #eef0f1;
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
  border-radius: 20px;
}

.u-u-why-text-bold {
  font-family: Space Grotesk;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.u-u-why-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;
  color: #747474;
  padding-top: 16px;
}

@media screen and (min-width: 1194px) {
  .u-u-why-container {
    width: 1440px;
    padding: 100px 20px;
  }
  .u-u-why-list {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .u-u-why-item {
    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-left: 24px;
    gap: 100px;
    border-radius: 20px;
    border-width: 1px;
    display: flex;
  }

  .u-u-why-text-bold {
    font-family: Space Grotesk;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-transform: uppercase;
    width: 580px;
  }
  .u-u-why-text {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 142%;
    letter-spacing: 0%;
    width: 454px;
    padding-top: 0px;
  }
}

.u-u-uniqueness {
  background: #010101;
}
.u-u-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 80px 16px;
  background: #010101;
  color: #ffffff;
}
.u-u-uniqueness-list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  border: 1px solid #bcbcbc;
  border-radius: 20px;
}
.u-u-uniqueness-item {
  border-top: 1px solid #bcbcbc;
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;
}

.u-u-uniqueness-text-bold {
  font-family: Space Grotesk;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #010101;
  background: #e74727;
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
  border-radius: 18px 18px 0 0;
}

@media screen and (min-width: 1194px) {
  .u-u-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 100px 20px;
  }
  .u-u-uniqueness-list {
    margin-top: 60px;
  }
}

.u-u-how-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

.u-u-how-item {
  background: #ffffff;
  border-radius: 100px;
  padding: 32px;
}

.u-u-how-text-bold {
  font-family: Space Grotesk;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #010101;
}

.u-u-how-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;
  text-align: center;
  color: #747474;
  padding-top: 8px;
}
.u-u-home-div-how {
  margin-top: 40px;
}
@media screen and (min-width: 1194px) {
  .u-u-how-list {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
  }

  .u-u-how-item {
    width: 362px;
    height: 144px;
    border-radius: 100px;
    padding: 32px;
    margin-left: -20px;
  }

  .u-u-home-div-how {
    margin: 60px 0 0;
    justify-content: end;
  }
}

.u-u-characters-container {
  padding: 80px 16px;
  margin: auto;
  width: 375px;
}
.u-u-characters-list {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  gap: 8px;
}
.u-u-characters-item {
  border: 1px solid #bcbcbc;
  background: #ffffff;
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
  gap: 16px;
  border-radius: 20px;
  border-width: 1px;
  height: 197px;
}

.u-u-characters-text-bold {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;
  text-align: center;
  color: #e74727;
  border: 1px solid #bcbcbc;
  width: 48px;
  height: 48px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.u-u-characters-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;
  padding-top: 16px;
}

@media screen and (min-width: 1194px) {
  .u-u-characters-container {
    padding: 100px 20px;
    margin: auto;
    width: 1440px;
  }

  .u-u-characters-list {
    display: flex;
    flex-direction: row;
    padding-top: 60px;
    gap: 20px;
  }
  .u-u-characters-item {
    width: 264px;
    height: 197px;
    padding: 32px 24px;
    border-radius: 20px;
  }
}

.u-u-reviews {
  background: #010101;
  color: #ffffff;
}
.u-u-reviews-container {
  margin: auto;
  padding: 80px 16px;
  width: 375px;
  background: #010101;
}
.u-u-reviews-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 40px;
}

.u-u-reviews-item-top {
  display: flex;
  gap: 24px;
  align-items: center;
  border: 1px solid #bcbcbc;
  padding-top: 8px;
  padding-right: 44px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-radius: 100px;
  font-family: Space Grotesk;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #ffffff;
  width: fit-content;
}
.u-u-reviews-img {
  width: 46px;
  height: 46px;
}
.u-u-reviews-text-bold {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  color: #bcbcbc;
}

.u-u-reviews-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;
  color: #ffffff;
  border: 1px solid #bcbcbc;
  width: 343px;
  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  border-radius: 20px;
  margin-top: 8px;
}

@media screen and (min-width: 1194px) {
  .u-u-reviews-container {
    margin: auto;
    padding: 100px 20px;
    width: 1440px;
  }
  .u-u-reviews-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 60px;
  }

  .u-u-reviews-text {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 142%;
    letter-spacing: 0%;
    margin-top: 12px;
    width: 453.3333435058594px;
    height: 186px;
    padding-top: 24px;
    padding-right: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
    border-radius: 20px;
    display: flex;
    align-items: center;
  }
}

.u-u-faq {
  background: #eef0f1;
}
.u-u-faq-container {
  padding: 80px 16px;
  width: 375px;
  margin: auto;
  background: #eef0f1;
  padding: 80px 16px;
}
@media screen and (min-width: 1194px) {
  .u-u-faq-container {
    padding: 100px 20px;
    width: 1440px;
    margin: auto;
  }
}

.u-u-container {
  padding: 76px 16px 100px;
  width: 375px;
  margin: auto;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;
}

.u-u-container h1 {
  font-family: Space Grotesk;
  font-weight: 500;
  font-style: Medium;
  font-size: 64px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.u-u-container h2 {
  margin-top: 10px;
  font-family: Space Grotesk;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-top: 32px;
}

.u-u-container h3 {
  margin-top: 32px;
  font-family: Space Grotesk;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.u-u-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.u-u-container ul li {
  margin-bottom: 16px;
}
.u-u-container p {
  margin-top: 16px;
}
.u-u-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.u-u-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1194px) {
  .u-u-container {
    padding: 164px 20px 100px;
    width: 1440px;
    margin: auto;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 142%;
    letter-spacing: 0%;
  }

  .u-u-container h1 {
    font-family: Space Grotesk;
    font-weight: 500;
    font-style: Medium;
    font-size: 120px;
    leading-trim: NONE;
    line-height: 90%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .u-u-container h2 {
    font-family: Space Grotesk;
    font-weight: 500;
    font-style: Medium;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .u-u-container h3 {
    font-family: Space Grotesk;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
}

.u-u-footer-container {
  width: 375px;
  margin: auto;
  padding: 60px 16px 40px;
  display: flex;
  flex-direction: column;
  background: #010101;
  color: #ffffff;
  gap: 40px;
}

.u-u-footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.u-u-footer-text-one {
  font-family: Space Grotesk;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.u-u-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Space Grotesk;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.u-u-footer-copyright {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 20px;
}

@media screen and (min-width: 1194px) {
  .u-u-footer-container {
    width: 1440px;
    padding: 80px 20px 40px;
    display: flex;
    flex-direction: row;

    gap: 100px;
  }

  .u-u-footer-copyright {
    margin: auto 0 0 auto;
  }
}

.u-u-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 24px 16px;
  border-radius: 20px;
  background: #ffffff;
  z-index: 1000;
  display: none;
}

.u-u-cookie-popup-text-two {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;

  color: #010101;
}

.u-u-cookie-button-container {
  padding: 32px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.u-u-cookie-button {
  border: none;
  background-color: transparent;

  width: 167.5px;

  border-radius: 4px;
  padding: 16px 0;
  font-family: Space Grotesk;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  border: 1px solid #010101;
}

#accept-cookies {
  background: #010101;
  color: #ffffff;
}

.u-u-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1194px) {
  .u-u-cookie-popup-container {
    display: flex;
    gap: 133px;
    align-items: center;
    justify-content: center;
  }
  .u-u-cookie-button {
    width: 187px;
    border-radius: 4px;
    padding: 16px;
  }
  .u-u-cookie-popup-text-two {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 142%;
    letter-spacing: 0%;

    width: 837px;
  }

  .u-u-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .u-u-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px;
    display: none;
  }
}
